* {
	margin: 0px;
	padding: 0px;
}
body {
	padding-top: 0px;
	background-color: #031900;
	color: #FFF;
	font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
	text-align: left;
	letter-spacing: 1px;
}
a {color: #FFF;font-size: 14px;}
a:hover {color: #5b8e40;}
.more{float: left;}
.clear{clear:both;}
p{	margin: 20px 0px 20px 0px;line-height: 16px;font-size: 14px;}
#container {
	margin: 0px auto;
	width:873px;
}
#menu {
	background-image:url(images/menu.gif);
	width:862px;
	height:90px;
	position:relative;
}
#menu li{
	position:absolute;
	top:50px;

	list-style-type: none;
}
#m01 {left:130px;}
#m02 {left:234px;}
#m03 {left:346px;}
#m04 {left:494px;}
#m05 {left:624px;}
#m06 {left:731px;}

#menu a{
	font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
	font-size: 12px;
	font-weight:bolder;
	color:#FFFFFF;
	text-decoration:none;
}
#menu a:hover {color: #5b8e40;}
#header {
	background-image:url(images/header.gif);

	background-repeat:repeat-y;
	width:873px;
}
#logo {
	width:240px;
	height:46px;
	margin: 0px 0px 0px 80px;
	float:center;
	display:inline;
}
#dj {
	background-image:url(PepePalsLogo.png);
	width:405px;
	height:405px;
	float:right;
	margin-right:80px;
	display:inline;
}
#gf {
	margin: 0px 0px 0px 110px;
	float:center;
	display:inline;
}
#guidetext {
	width:720px;
	margin: 50px 0px 0px 100px;
	float:left;
	display:inline;
}
#welcome {
	width:210px;
	margin: 50px 0px 0px 100px;
	float:left;
	display:inline;
}
#welcome h2{
	margin: 0px 0px 20px 0px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#welcome p{
	width:200px;
}
#welcome img{
	border: solid 3px #FFFFFF;
}
#middle {
	background-image:url(images/middle.gif);
	width:873px;
	height:21px;
}
#middle2 {
	background-image:url(images/middle2.gif);
	width:873px;
	height:22px;
}

#middle2 img{
	width:150px;
	height:auto;
}
#series {
	margin: 0px 0px 0px 55px;
	text-align: center;
	width:800px;
}
#series .underover {
	text-decoration: none;
  text-decoration: dashed underline overline green;
}
#series .underover2 {
	text-decoration: none;
  text-decoration: dashed underline overline red;
}
#dex {
	margin: 0px 0px 0px 36px;
	text-align: center;
	width:873px;
}
#dex table {
	text-align: center;
	width:150px;
}
#dex th, td, tr {
  padding: 10px 22px 3px 22px;
	background: transparent;
	text-align: center;
	width:150px;
}
#dex img{
	width:200px;
	height:auto;
}
#dex video{
	margin: 0px 0px 0px -15px;
	text-align: center;
	width:200px;
	height:auto;
}
#dex left {
	float:left;
	width:200px;
	margin: 0px 0px 0px 85px;
	display:inline;
}
#dex right {
	float:right;
	width:400px;
	height:auto;
	margin: 0px 62px 20px 0px;
	display:inline;
}
#dex content {
	background-image:url(images/content.gif);
	width:873px;
}
#dex h2{
	margin: 0px 0px 0px -55px;
  text-align: center;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#dex h3{
		margin: 0px 0px 0px -40px;line-height: 16px;font-size: 14px;
	}
#content {
	background-image:url(images/content.gif);
	width:873px;
}
#left {
	float:left;
	width:435px;
	margin: 0px 0px 0px 85px;
	display:inline;
}
#faqfull {
	float:left;
	width:720px;
	margin: 0px 0px 0px 85px;
	display:inline;
}
#right {
	float:right;
	width:258px;
	height:auto;
	margin: 0px 62px 20px 0px;
	display:inline;
}
#right a img{
	margin: 8px 8px 8px 0px;
	border: none 0px #FFFFFF;
}
#footer {
	background-image:url(images/footer.gif);
	background-repeat:no-repeat;
	width:873px;
}
#footer p{
	height:58px;
	width:873px;
	text-align:center;
	margin: 0px 0px 0px 0px;
	padding: 30px 0px 0px 0px;
	font-size:11px;
}
#footer a{
	font-size:11px;
}
